<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LoginSuite">

	<test thread-count="5" name="loginTest_chrome">
		<parameter name="BrowserName" value="Chrome"></parameter>
		<classes>
			<class name="com.Test.LoginTest" />
		</classes>
	</test> <!-- loginTest -->
	

</suite> <!-- LoginSuite -->
